<div class="container-fluid" ng-controller='imagesCtrl'>
  <div class="form-group">
    <div class="col-xs-6 col-xs-offset-3">
      <h3>Upload Image(s)</h3>
      <div class="text-center">
        <label for="local-file">Image</label>
        <!-- <input ng-model='image.url' type="text" class="form-control " placeholder="Image Url"> -->


        <form ng-submit='uploadImage(image)' name='uploadForm'>

            <input ng-model='image.url' type="text" class="form-control " placeholder="Image Url">
            <fieldset class="form-group">
              <input ngf-select ng-model='file' name='file' type="file" class="form-control-file"
              ngf-pattern="'image/*'"
              ngf-accept="'image/*'"
              ngf-max-size="20MB"
              ngf-min-height="100"
              ngf-resize="{width: 50%, height: 50%}"></input>
            </fieldset>

          <!-- <pre>{{file | json}}</pre> -->

          <fieldset class="form-group">
            <label for="local-file">Description</label>
            <input ng-model='image.desc' type="text" class="form-control " placeholder="Image Desccription">
          </fieldset>


          <button type='submit' class='btn btn-default btn-lg' ng-click='cancel()'>Cancel</button>
          <button type='submit' class='btn btn-primary btn-lg'>Upload</button>

        </form>
        <br>
        <br>
      </div>

    </div>
  </div>
</div>
